<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="content">
        {{>header }}
        <img class="kevit" src="/Kevit (1).png" alt="kevit" width="130px" style="margin-top: 30px;">
    </div>
    {{>footer}}
</body>

</html>