body {
    border: 1px solid rgb(75, 73, 73);
    color: rgb(30, 34, 51);
    padding: 25px;
    max-width: 700px;
    margin: 60px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

.content {
    flex-grow: 1;
}

header {
    font-size: 25px;
    text-align: center;
}

header a {
    border-bottom: 1px solid rgb(12, 12, 12);
    /* font-size: large; */
    margin: 77px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(121, 128, 128);
}

footer {
    color: rgb(39, 51, 39);
    margin-top: 30px;
    font-size: 17px;
    border-top: 1px solid rgb(110, 106, 96);
}

.main-container>p {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2373a1;
    font-weight: 800;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    width: 230px;
}

::placeholder {
    font-size: 15px;
    color: rgb(81, 81, 85);
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

/* Add these styles for the Help page */
.help-container,
.about-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main-container {
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px auto;
}

.help-section {
    margin-bottom: 30px;
}

.help-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.help-section p {
    font-size: 18px;
    color: #555;
}

.help-section,
.creator-section ul {
    list-style-type: disc;
    margin-left: 20px;
}

.help-section li {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.help-section a {
    text-decoration: underline;
    color: #007bff;
}

.help-section a:hover {
    color: #0056b3;
}

.about-section {
    margin-bottom: 30px;
}

.about-section h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.about-section,
.creator-section,
.mission-section p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.creator-section,
.mission-section {
    margin-bottom: 30px;
}

.creator-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.creator-section li {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.mission-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}